@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* #container {
  background: #faf4f4;
  width: 100%;
  height: 100%;
}

* #done-container span {
  font-size: 1.5rem;
  padding: .2rem .5rem;
  border-left: 2px solid violet;
}

* #count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* #count span {
  font-size: 1.5rem;
  padding: .2rem .5rem;
}

* #count span:first-child {
  border-left: 2px solid green;
}

input[type="checkbox"] {
  position: relative;
  width: 1.5em;
  padding: 1rem;
  height: 1.5em;
  color: #363839;
  border: 1px solid #bdc1c6;
  border-radius: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  cursor: pointer;
  -webkit-transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}

input[type="checkbox"]::before {
  position: absolute;
  content: '';
  display: block;
  top: 2px;
  left: 7px;
  width: 8px;
  height: 14px;
  border-style: solid;
  border-color: #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
}

input[type="checkbox"]:checked {
  color: #fff;
  border-color: #06842c;
  background: #06842c;
}

input[type="checkbox"]:checked::before {
  opacity: 1;
}

input[type="checkbox"]:checked ~ label::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

label {
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 0.25em 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

label::before {
  position: absolute;
  content: attr(data-content);
  color: #9c9e9f;
  -webkit-clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
          clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  -webkit-text-decoration-color: #363839;
          text-decoration-color: #363839;
  -webkit-transition: -webkit-clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

html {
  padding: 0;
  margin: 0;
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

#header {
  background: #6200ee;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 2.5rem;
}

#header #addandselect {
  width: 100%;
}

#header button {
  background: none;
  width: 100%;
  margin: 1rem 0;
  text-align: center;
  padding: .5rem;
  border: 2px solid transparent;
  color: white;
  border-top: 2px solid #7639cc;
  font-size: large;
}

#header select {
  -webkit-appearance: none;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  min-width: 80%;
  cursor: pointer;
  line-height: 1.1;
  background: #380383;
  -moz-appearance: none;
       appearance: none;
  padding: 0.3rem 0.5rem;
  margin-left: 0.7em;
  color: white;
  padding: 12px;
  border: none;
  font-size: 20.5px;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  outline: none;
}

#header a {
  padding: 0 .7rem;
  font-size: 3.5rem;
  text-decoration: none;
  color: white;
  margin: 0 0.2rem;
}

#header a:hover {
  cursor: pointer;
}

#todo-container {
  width: 100%;
  position: relative;
  margin: 1rem 0;
}

#todo-container .todo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 1rem 0;
}

#todo-container .innertodo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  grid-column: 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  border: 2px solid transparent;
}

#todo-container .innertododone {
  background: #CDCDCD;
}

#todo-container .paragraph {
  display: none;
  margin-left: 30px;
  font-size: 1.4rem;
  -ms-grid-column: 1;
  grid-column: 1fr;
}
#todoform{
  z-index: 1;
}
#todo-container button {
  background: none;
  border-radius: .5rem;
  border: 1px solid black;
  margin: 0 2px;
  font-weight: lighter;
  font-size: 1.4rem;
}

.plus-button {
  position: fixed;
  bottom: 0;
  right: 0;
  border: 2px solid lightgrey;
  background-color: #6200ee;
  color: white;
  font-size: 16px;
  height: 4rem;
  width: 4rem;
  border-radius: 999px;
  margin: 1rem;
}

.plus-button:after, .plus-button:before {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.plus-button:before {
  height: 1em;
  width: 0.2em;
}

.plus-button:after {
  height: 0.2em;
  width: 1em;
}

#projectform {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 75%;
  background: #5862ec;
  min-height: 25vh;
  margin-inline: auto;
  text-align: center;
  padding: 3rem;
  line-height: 1.8;
}

#projectform p {
  color: white;
  font-size: 1.5rem;
}

#projectform label {
  color: white;
}

#projectform input {
  margin: 1rem 0;
}

#projectform button {
  font-size: 1.5rem;
  color: white;
  background: #6200ee;
  border-radius: 4px;
  border: 2px solid transparent;
}

#projectform button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #5862ec;
}

#todoform {
  max-width: 80%;
  border-radius: 2%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  margin-top: 15rem;
  background: #5c63c7;
  margin-left: 3rem;
  color: white;
  padding: 3rem;
  text-align: center;
  line-height: 2;
}

#todoform button {
  background: #380383;
  color: white;
  font-size: 1.5rem;
  margin: 1rem;
  padding: .5rem 2rem;
  border-radius: 3.5px;
}

#todoform button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #8b4be4;
}

#todoform textarea {
  resize: none;
  width: 100%;
}

#todoform #select {
  -webkit-appearance: none;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  background: #8b4be4;
  -moz-appearance: none;
       appearance: none;
  color: white;
  padding: 0 2rem;
  border: none;
  font-size: 1.8rem;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  outline: none;
}

#todoform {
  display: none;
}

#todoform p {
  font-size: 1.4rem;
}

.plus-button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#todoselect {
  -webkit-appearance: none;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  min-width: 80%;
  cursor: pointer;
  line-height: 1.1;
  background: #380383;
  -moz-appearance: none;
       appearance: none;
  color: white;
  padding: 1.4rem 0;
  border: none;
  font-size: 1.4rem;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  outline: none;
}
/*# sourceMappingURL=syles.css.map */